Source: yamllint
Section: devel
Priority: optional
Maintainer: Adrien Vergé <adrienverge@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python3-all, python3-setuptools, python3-yaml, python3-nose
Standards-Version: 3.9.4
Homepage: https://github.com/adrienverge/yamllint
#Vcs-Git: git://git.debian.org/collab-maint/yamllint.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/yamllint.git;a=summary

Package: yamllint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-yaml
Description: A linter for YAML files
 yamllint does not only check for syntax validity, but for weirdnesses like key
 repetition and cosmetic problems such as lines length, trailing spaces,
 indentation, etc.
