---
# .. seealso:: https://github.com/ymyzk/tox-gh-actions
#
name: Tests
# yamllint disable-line rule:truthy
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      matrix:
        python-version:
          - 2.7
          - 3.6
          - 3.7
          - 3.8

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install tox tox-gh-actions
      - name: Test with tox
        run: tox

# vim:sw=2:ts=2:et:
